<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <h3>Регистрация в системата</h3>

    <form action="/change_password" method="POST">
      <p>
        <label>Стара парола:</label>
        <input type="password" name="password" required />
      </p>
      <p>
        <label>Нова парола:</label>
        <input type="password" name="user[new_password]" required />
      </p>
      <p>
        <label>Потвърждаване на новата парола:</label>
        <input type="password" name="user[new_password]" required />
      </p>
      <input type="submit" value="Потвърди" />
    </form>
  </body>
</html>