<html>
<head>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
	<body>
	<div class="title_">
    <h1>В случай, че сте си забравили паролата:</h1>
  </div>

  <div class="email">
    <form action="/forgotten_password" method="POST">
      <p>
        <label>Е-поща:</label>
        <input type="text" name="email" required />
      </p>
      <input type="submit" value="Нова парола" />
    </form>
  </div>
	
	</body>
</html>