<html>
<head>
	<title></title>
</head>
	<body>
	<h1>В случай, че сте си забравили паролата:</h1>

	<form action="/forgotten_password" method="POST">
      <p>
        <label>Е-поща:</label>
        <input type="text" name="email" required />
      </p>
      <input type="submit" value="Нова парола" />
    </form>
	</body>
</html>