<html>
  <head>
    <title>Home page</title>
    <link rel="stylesheet" type="text/css" href="/home_page.css">
  </head>
  <body>
    <div id="container">
      <%= erb :header %>

      <div id="content">
        <div class="title">
          <h1>Hello <%= session[:name] %></h1>
        </div>
      </div>

    </div>
  </body>
</html>