<html>
  <head>
    <title>Home page</title>
    <link href="/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="container">
      <center><h3>Hello <%= session[:name] %></h3></center>
      <%= erb :header %>

      <div id="content">
      </div>

    </div>
  </body>
</html>