<html>
  <head>
    <title>Home page</title>
    <link rel="stylesheet" type="text/css" href="/home_page.css">
  </head>
  <body>
    <div id="container">
    	<%= erb :header %>

      <div id="content">
        <h1 class="title">ДОБРЕ ДОШЛИ В СИСТЕМАТА ЗА РЕГИСТРАЦИЯ НА 
        ВАШИТЕ ДЕЦА ЗА ГОЛЯМОТО ПРИКЛЮЧЕНИЕ НАРЕЧЕНО УЧИЛИЩЕ!</h1>
      </div>
    </div>
  </body>
</html>