<html>
  <head>
    <title>Home page</title>
    <link href="/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="container">
    	<%= erb :header %>

      <div id="content">
      </div>
    </div>
  </body>
</html>
