<html>
  <head>
    <title>Log in</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    <div class="title"><h1>Вход в системата</h1></div>

    <div id="login_right">
      <form action="/login/submit" method="POST" class="login">
        <p>
          <label>Е-поща:</label>
          <input type="email" name="email" required/></br>
        </p>
        <p>
          <label>Парола:</label>
          <input type="password" name="password" required/></br>
        </p>
        <input type="submit" value="Вход" style="margin-left:150px"/>
      </form>
    </div>
    
    <div id="login_left">
      <form action="/forgotten_password" method="GET" class="login">
        <input type="submit" value="Забравена парола"></button>
      </form>
      
      <form action="/sign_in" method="GET" class="login">
        <input type="submit" value="Нова регистрация"></button>
      </form>
    </div>
    
  </body>
</html>
