<html>
<head>
	<title></title>
	<link href="/style.css" rel="stylesheet" type="text/css" />
</head>
	<body>
		<div id="container">
			<%= erb :header %>
			
			<h1 class="title">Ръководство за кандидатстване</h1>

			<div id="content">
					<h2 class="subtitle"><b>Въведение</b></h2>
					<p class="text">
						<span>
							Това ръководство се отнася за родители на деца, които кандидатстват за прием в основно училище на територията на Столична община. В случай, че все още нямате направена регистрация се върнете на нначалната ни страница и изберете секцията "Регистрация". Следвайте инструкциите за създаване на профил в системата ни.
						</span>
					</p>
					<h2 class="subtitle"><b>Критерии за изчисляване на точки</b></h2>
					<p class="text">
						<span>
							1. В зависимост от подредбата на желаните от вас учебни заведения, точките които получавате към общата сума на съответното училище е:
							<li>първо желание – 5т.,</li>
							<li>второ желание – 4 т.,</li>
							<li>трето желание – 3т.,</li>
		  					<li>четвърто желание – 2т.,</li>
		  					<li>пето желание – 1т.</li>
						</span>
					</p>
					<p class="text">
						<span>
							2. Ако районът на местоживеене на детето съвпада с райно на учебното заведение - 3т.
						</span>
					</p>
					<p class="text">
						<span>
							3. Ако районът на месторабота на родителя съвпада с района на учебното заведение - 2т.
						</span>
					</p>
					<p class="text">
						<span>
							4. Ако детето има удостоверение за завършена подготвителна група - 1т.
						</span>
					</p>
					<p class="text">
						<span>
							5. Ако детето е сирак или полусирак - 1т.
						</span>
					</p>
					<p class="text">
						<span>
							6. Ако детето има родител в системата на образованието в съответното училище - 1т.
						</span>
					</p>
			</div>
		</div>
	</body>
</html>