<html>
  <head>
    <title>Sign in</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    <div class="title">
      <h1>Регистрация в системата</h1>
    </div>

    <div class="content">
      <form action="/sign_in/submit" method="POST">
      <p>
        <label class="field">Е-поща:</label>
        <input type="email" name="user[email]" required />
      </p>
      <p>
        <label class="field">Потребител:</label>
        <input type="text" name="user[name]" required />
      </p>
      <p>
        <label class="field">Парола:</label>
        <input type="password" name="user[password]" required />
      </p>
      <input type="submit" value="Регистрирай ме" style="margin-left:150px"/>
    </form>
    </div>
    
  </body>
</html>
