.table{
	margin-top: 80px;
    border-collapse: collapse;
    width: 100%;
    border-radius: 20px;
    box-shadow: 17px 17px 5px #FF2248;
}

th, td {
    text-align: left;
    padding: 7px;
}

th {
	color: #4D2978;
	font-style: bold;
	font-size: large
}