#container{
  width: 90%;
  height: 100%;
  margin: 0 auto;
  font-family: Arial !important;
}

#header{
	float: right;
	width: 100%
}

#content{
  height: 100%;
  padding-top:50px;
  padding-left:100px;
  background-image: url("/assets/school.gif");
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 40px;
}

.button{
  float: left;
  margin-left: 50px;
}

.button_index{
	float: left;
	margin-left: 160px;
}

.title{
  text-shadow: 2px 2px #FF7729;
  padding-top: 50px;
  padding-right: 100px;
  text-align: center;
  color: #FFAD29;
}