#container{
	width: 90%;
	height: 100%;
	margin: 0 auto;
	font-family: Arial !important;
}

#header{
	float: right;
	width: 100%
}

#content{
	float: left;
	height: 100%;
}

.button{
	float: left;
	margin-left: 100px;
}