#container{
	width: 90%;
	height: 100%;
	margin: 0 auto;
	font-family: Arial !important;
}

#header{
	float: right;
	width: 100%;
	margin-bottom: 30px
}

.button{
	float: left;
	margin-left: 50px;
}

.table_child {
	margin-top: 80px;
    border-collapse: collapse;
    width: 100%;
    border-radius: 20px;
    box-shadow: 17px 17px 5px #FFAD29;
}

.table_app {
	margin-top: 80px;
    border-collapse: collapse;
    width: 100%;
    border-radius: 20px;
    box-shadow: 17px 17px 5px #1Ab58A;
}

.table_classifing{
	margin-top: 30px;
	margin-bottom: 70px;
    border-collapse: collapse;
    width: 100%;
    border-radius: 20px;
    box-shadow: 17px 17px 5px #FF2248
}

th, td {
    text-align: left;
    padding: 7px;
}

th {
	color: #4D2978;
	font-style: bold;
	font-size: large
}

tr:nth-child(even){
	background-color: #f2f2f2
}

.link {
	margin-top: 40px;
	text-align: right;
}

.subtitle_{
	text-shadow: 2px 2px #FF7729;
	color:#FF2248
}